<template>
  <nav id="nav" class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a
        role="button"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="mainMenu"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="mainMenu" class="navbar-menu" aria-label="main navigation">
      <div class="navbar-start">
        <router-link
          class="navbar-item is-tab"
          exactActiveClass="is-active"
          v-for="route in $router.options.routes"
          :to="route"
          :key="route.path"
          >{{ route.name }}</router-link
        >
      </div>
      <div class="navbar-end"></div>
    </div>
  </nav>
</template>

<script>
export default {
  name: "Navbar",
};
</script>