<template>
  <table class="table is-fullwidth is-hoverable">
    <caption>
      Let's keep track of the dice rolls
    </caption>
    <thead>
      <tr>
        <th>Face</th>
        <th>Count</th>
        <th colspan="2">Percentage</th>
      </tr>
    </thead>
    <tbody>
      <tr
        v-for="(count, face) in diceLog.dices"
        :key="face"
        :class="{ 'is-selected': face == diceLog.active }"
      >
        <th>{{ face }}</th>
        <td>{{ count }}</td>
        <td>
          <progress class="progress" :value="percentage(face)" :max="maxProgress">
            {{ fmtPercentage(face) }}
          </progress>
        </td>
        <td>{{ fmtPercentage(face) }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>Total</th>
        <td>{{ rollCount }}</td>
        <td colspan="2"></td>
      </tr>
    </tfoot>
  </table>
</template>

<script>
// import DiceRow from "./DiceRow.vue";
export default {
  name: "DiceTable",
  props: ["diceLog"],
  computed: {
    rollCount: function () {
      let total = 0;
      for (const eyes in this.diceLog.dices) {
        total += this.diceLog.dices[eyes];
      }
      return total;
    },
    maxProgress: function () {
      let maxPercentage = 0;
      let pct;
      for (const eyes in this.diceLog.dices) {
        pct = this.percentage(eyes);
        if (!isNaN(pct)) {
          maxPercentage = Math.max(maxPercentage, this.percentage(eyes));
        }
      }

      maxPercentage = Math.max((100 * 2) / 6, maxPercentage).toFixed(1);
      return maxPercentage;
    },
  },
  methods: {
    percentage(eyes) {
      if (this.rollCount === 0) return "-";

      return ((100 * this.diceLog.dices[eyes]) / this.rollCount).toFixed(1);
    },
    fmtPercentage(eyes) {
      const pct = this.percentage(eyes);
      if (isNaN(pct)) {
        return pct;
      }

      return pct + "%";
    },
  },
  components: {
    // DiceRow,
  },
};
</script>

<style>
tbody td:nth-child(3) {
  width: 33%;
}
</style>
