<template>
    <div class="column is-half">
      <DiceTable :diceLog="log" />

      <button class="button is-primary" @click="roll">
        <span class="icon">
          <i class="fas fa-dice"></i>
        </span>
        <span>Roll!</span>
      </button>
      <button
        class="button is-danger is-pulled-right"
        @click="reset"
        :disabled="log.active === -1"
      >
        <span class="icon"><i class="fas fa-recycle"></i></span>
        <span>Reset</span>
      </button>
    </div>
</template>


<script>
// @ is an alias to /src
import DiceTable from "./DiceTable.vue";

export default {
  name: "DiceLog",
  components: {
    DiceTable,
  },
  data() {
    return {
      log: {
        dices: {
          1: 0,
          2: 0,
          3: 0,
          4: 0,
          5: 0,
          6: 0,
        },
        active: -1,
      },
    };
  },
  methods: {
    increment(eyes) {
      this.log.dices[eyes]++;
      this.log.active = eyes;
    },
    roll() {
      const eyes = Math.ceil(Math.random() * 6);
      this.increment(eyes);
    },
    reset() {
      for (const key in this.log.dices) {
        this.log.dices[key] = 0;
      }
      this.log.active = -1;
    },
  },
};
</script>
