<template>
  <div id="app" class="container is-max-desktop">
    <Navbar class="column mb-4" />
    <div class="columns is-centered">
      <router-view />
    </div>
  </div>
</template>

<script>
import Navbar from "@/components/bulma/Navbar.vue";
export default {
  components: {
    Navbar,
  },
};
</script>

<style lang="scss">
/*
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
*/
</style>
